name: Basic quality checks
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26.0'
          check-latest: false
      - name: Fmt
        env:
          GOTOOLCHAIN: local
        run: gofmt -d ./
      - name: Vet
        env:
          GOTOOLCHAIN: local
        run: go vet ./
      - name: Build
        env:
          GOTOOLCHAIN: local
        run: go build
